<!DOCTYPE html>
<html lang="en">
<!-- Head.ejs -->
<%- include ('../partials/head.ejs') %> 
<body>
    <!-- Header.ejs -->
    <%- include ('../partials/header.ejs')  %> 
    <main class="create_edit-main">
        <div class="formulario-de-create_edit">
            <div class="form-select-create_edit">
                <div class="select1-create">
                <a>
                    <h2>Crear producto</h2>
                </a>
                </div>
            </div>
            <form class="create_edit" action="/products" method="POST" enctype="multipart/form-data">
                <div class="form-data-create_edit">
                    <label class="create_edit">Nombre del Producto:</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Tipo:</label>
                    <select name="type">
                        <option value="Pasteleria">Pastelería</option>
                        <option value="Masas">Masas</option>
                        <option value="Tortas">Tortas</option>
                    </select>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Precio:</label>
                    <input type="number" name="price" id="price" required>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Imagen:</label>
                    <input type="file" name="image"  id="image" accept=".png, .jpeg .jpg" required>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Descripción:</label>
                    <textarea name="description" id="" cols="30" rows="5" required></textarea>
                </div>
                <div class="form-data-create_edit">
                    <label class="create_edit">Categoría:</label>
                        <select name="category">
                            <option value="En oferta">En oferta</option>
                            <option value="Destacados">Destacados</option>
                        </select>
                </div>
                <div class="form-data-create_edit">
                    <button class="form-button" type="submit" Enviar> Agregar
                </div>
            </form>
        </div>
    </main>
    <!-- Footer.ejs -->
    <%- include ('../partials/footer.ejs') %> 
</body>

</html>