<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Satisfy&display=swap" rel="stylesheet">     <title>Pavlova - Carrito</title>
</head>
<body>
    <header>
        <section class="top-header">
            <figure class="logo">
                <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
            </figure>
            <div class="name">Pavlova</div>
            <div class="form" action="#" method="GET">
                <button type="submit"class="submit"><i class="fa fa-search"></i></button>
                <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="input">
            </div>
            <div class="iconos">            
                <a href="/login"><i class="fas fa-user-circle"></i></a> 
                <a href="/carrito"><i class="fas fa-shopping-bag"></i></a> 
            </div>
        </section>
       <section>
        <nav>
            <ul class="submenu">
            <li><href="#">Nosotros</li>
            <li><href="#">Pasteleria</li>
            <li><href="#">Masas</li>
            <li><href="#">Tortas</li>
            <li><href="#">Contacto</li>
            </ul>
        </nav>
        <div class="desplegable-menu">
            <i class="fa-solid fa-circle-chevron-down"></i>
        </div>
        </section>
    </header>
    <main>
        </section>
    <section class="carro">
        <div class="contenedor-compras">
            <div class="articulos">
                <h4>Articulos en tu carrito:</h4>
                <div class="menu-carro">
                    <p class="p1">PRODUCTO</p>
                    <p class="p2">PRECIO</p>
                    <p class="p2">CANT.</p>
                    <p class="p3">DESC. %</p>
                    <p class="p3">TOTAL</p>
                </div>
                <div class="productos-carro">
                    <p class="p1">Cheesecake</p>
                    <p class="p2">$4.000</p>
                    <p class="p2">2</p>
                    <p class="p3">0%</p>
                    <p class="p3">$8.000</p>                 
                </div>
                <div class="productos-carro">
                    <p class="p1">Lemon Pie</p>
                    <p class="p2">$4.500</p>
                    <p class="p2">1</p>
                    <p class="p3">0%</p>
                    <p class="p3">$4.500</p>                 
                </div>
                <div class="productos-carro">
                    <p class="p1">Devils Cake</p>
                    <p class="p2">$5.900</p>
                    <p class="p2">1</p>
                    <p class="p3">10%</p>
                    <p class="p3">$5.310</p>                 
                </div>  
            </div>
            <h4>Cupón de descuento</h4>
            <div class="cupon">
                <div class="form-cupon" action="#" method="GET">
                    <div class="carrito-input">Código</div>
                    <button class="form-button-descuento" >Aplicar descuento</button>
                </div>
            </div>
            </div>
        </div>
        <div class="total">
            <div class="text-comprar">
                <p>
                    La confirmación de su pedido no garantiza la existencia de stock.  
                </p>
            </div>
            <div class="compra-total">
                <p class="compra-list">
                    Subtotal
                    <br>
                    Descuento
                    <br>
                    TOTAL          
                <p class="compra-importe">
                    $18.400
                    <br>
                    $590
                    <br>
                    $17.810
                </p>
            </div>
            <button class="form-button-seguir">Realizar pedido</button>
            <a href="/"><button class="form-button-comprar">Seguir Comprando</button></a>
            </div>
    </section>
</main>
<footer>
    <section class="seccion1">
        <div></div>
        <div class="productos">
            <h3 class="foot">Pavlova</h3>
            <p>
                <href="#">Sobre nosotros
            </p>
            <p>
                <href="#">Trabaja con nosotros
            </p>
        </div>
        <div></div>
        <div class="encontranos">
            <h3 class="foot">Encontranos</h3>
            <p>
                <href="#"><i class="fa-solid fa-map-location"></i> Direccion X
            </p>
            <p>
                <href="#"><i class="fa-brands fa-facebook"></i> PavlovaPasteleria
            </p>
            <p>
                <href="#"><i class="fab fa-instagram"></i> PavlovaPasteleria
            </p>
        </div>
        <div></div>
        <div class="contactanos">
            <h3 class="foot">Contactanos</h3>
            <p>
                <href="mailto:pavlova@pavlova.com"><i class="fa-solid fa-envelope"></i> pavlova@pavlova.com</href=>
            </p>
            <p>
                <href="tel:+9999999999"><i class="fa-solid fa-phone"></i> +99 9999 9999</href=>
            </p>
            <h3 class="foot">Newsletter</h3>
            <div class="newsletter">
            <input type="text" name="buscar" id="buscar" placeholder="mail@gmail.com" class="newsletter-mail">
            <div class="suscribe"><i class="fa-solid fa-square-check"></i></div>
        </div>
        </div>
        <div></div>
        </div>
    </section>
</footer>
</body>
</html>