<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Satisfy&display=swap" rel="stylesheet">     <title>Pavlova - Home</title>
</head>
<body>
    <header>
        <section class="top-header">
            <figure class="logo">
                <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
            </figure>
            <div class="name">Pavlova</div>
            <div class="form" action="#" method="GET">
                <button type="submit"class="submit"><i class="fa fa-search"></i></button>
                <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="input">
            </div>
            <div class="iconos">            
                <a href="/login"><i class="fas fa-user-circle"></i></a> 
                <a href="/carrito"><i class="fas fa-shopping-bag"></i></a> 
            </div>
        </section>
       <section>
        <nav>
            <ul class="submenu">
            <li><href="#">Nosotros</li>
            <li><href="#">Pasteleria</li>
            <li><href="#">Masas</li>
            <li><href="#">Tortas</li>
            <li><href="#">Contacto</li>
            </ul>
        </nav>
        <div class="desplegable-menu">
            <i class="fa-solid fa-circle-chevron-down"></i>
        </div>
        </section>
    </header>
    
    <main>
        <section class="carrusel">
                <img src="/images/Productos/PrincImg.jpg">
            </nav>
        </section>
        <section class="Nosotros">
            <h2>Nosotros</h2>
            <p class="texto">Somos una familia de pasteleros, que hemos iniciado nuestro proyecto de dulces y frescos productos caseros, esperando que lleguen a sus mesas con los mejores estándares de calidad.  Todas nuestras tortas y pasteles de Pavlova, son elaborados por nuestras manos de manera natural, con materias primas nobles y cuidadosamente seleccionadas.
                <br>
                Tenemos una amplia carta de productos los cuales están a disposición de nuestros clientes, y así seguir disfrutando del sabor de nuestra historia que empezamos a escribir junto a ustedes.
                </p>
        </section>
        <section class="destacados">
            <h3 class="pdest">Productos descatados</h3>
            <div class="imgprod">
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/Cheesecake.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div class="info-product">
                            <p class="name-product">Cheesecake</p>
                            <p class="price">Precio: $ 4.000</p>
                        </div>
                    </div>
                </article>
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/LemonPie.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div class="info-product">
                            <p class="name-product">Lemon pie</p>
                            <p class="price">Precio: $ 2.500</p>
                        </div>
                    </div>
                </article>
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/DevilsCake.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i></a>
                        <div class="info-product">
                            <p class="name-product">Devils cake</p>
                            <p class="price">Precio: $ 2.900</p>
                        </div>   
                    </div>
                </article>
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/TartaMango.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div class="info-product">
                            <div class="info-product">
                                <p class="name-product">Tarta de mango</p>
                                <p class="price">Precio: $ 2.500</p>
                            </div>
                        </div> 
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="seccion1">
            <div></div>
        <div class="productos">
            <h3 class="foot">Pavlova</h3>
            <p><href="#">Sobre nosotros</p>
            <p><href="#">Trabaja con nosotros</p>
        </div>  
        <div></div>
        <div class="encontranos">
            <h3 class="foot">Encontranos</h3>
            <p><href="#"><i class="fa-solid fa-map-location"></i> Direccion X</p>
            <p><href="#"><i class="fa-brands fa-facebook"></i>  PavlovaPasteleria</p>
            <p><href="#"><i class="fab fa-instagram"></i> PavlovaPasteleria</p>
        </div>
        <div></div>
        <div class="contactanos">
            <h3 class="foot">Contactanos</h3>
            <p><href="mailto:pavlova@pavlova.com"><i class="fa-solid fa-envelope"></i> pavlova@pavlova.com</href=></p>
            <p><href="tel:+9999999999"><i class="fa-solid fa-phone"></i> +99 9999 9999</href=></p>
            <h3 class="foot">Newsletter</h3>
            <div class="newsletter">
            <input type="text" name="buscar" id="buscar" placeholder="mail@gmail.com" class="newsletter-mail">
            <div class="suscribe"><i class="fa-solid fa-square-check"></i></div>
        </div>
        </div>
        <div></div>
        </div>
        </section>
       </footer>
</body>
</html>