<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet"> 
    <title>Pavlova - Index</title>
</head>
<body>
    <header>
        <section class="top-header">
            <figure class="logo">
                <img height=100px src="/images/PavlovaB&N2.png" alt="Logo de Pavlova" >
            </figure>
            <div class="form" action="#" method="GET">
                <div class="submit"><i class="fa fa-search"></i></div>
                <div class="input">Buscar productos</div>
            </div>
            <div class="iconos">            
                <a href="/registro"><i class="fas fa-sign-in-alt"></i></a>
                <a href="/ingreso"><i class="fas fa-user-circle"></i></a> 
                <a href="/bolsadecompras"><i class="fas fa-shopping-bag"></i></a> 
            </div>
        </section>
       <section>
        <nav>
            <ul>
            <li><a href="#">Nosotros</li>
            <li><a href="#">Pasteleria</li>
            <li><a href="#">Masas</li>
            <li><a href="#">Tortas</li>
            <li><a href="#">Contacto</li>
            </ul>
        </nav>
        </section>
    </header>
    <footer>
        <section class="seccion1">
        <div class="productos">
           <h3>Pavlova</h3>
           <p><a href="#">Sobre nosotros</p>
            <p><a href="#">Trabaja con nosotros</p>
        </div>  
        <div class="encontranos">
            <h3>Encontranos</h3>
            <ul>
                <p><a href="asd#">Direccion X</p>
                <p><i class="fab fa-facebook-square"></i><a href="#">PavlovaPasteleria</p>
                <a href="#">PavlovaPasteleria</p><i class="fab fa-instagram"></i>

            </ul>
        </div>
        <div class="contactanos">
            <h3>Contactanos</h3>
            <p><a href="mailto:pavlova@pavlova.com">pavlova@pavlova.com</a></p>Nosotros</p>
            <p><a href="tel:9999999999"></a>+99 9999 9999</p>
            <h3>Newsletter</h3>
            <div class="input">Mail</div>
            <button type="submit" value="suscripcion">SUSCRIBIRME</button>
        </div>
        </div>
        </section>
       </footer>
</body>
</html>