<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/prodDetails.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Satisfy&display=swap"
        rel="stylesheet">
    <title>Pavlova - Detalle de productos</title>
</head>
<body>
    <header>
        <section class="top-header">
            <figure class="logo">
                <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
            </figure>
            <div class="name">Pavlova</div>
            <div class="form" action="#" method="GET">
                <div class="submit"><i class="fa fa-search"></i></div>
                <div class="input">Buscar</div>
            </div>
            <div class="iconos">
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </section>
        <section>
            <nav>
                <ul class="submenu">
                    <li>
                        <href="#">Nosotros
                    </li>
                    <li>
                        <href="#">Pasteleria
                    </li>
                    <li>
                        <href="#">Masas
                    </li>
                    <li>
                        <href="#">Tortas
                    </li>
                    <li>
                        <href="#">Contacto
                    </li>
                </ul>
            </nav>
            <div class="desplegable-menu">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </div>
        </section>
    </header>
    <main>
        <section class="cajaProd">
            <div class="imgProduct">
            <img src="images/Productos/Cheesecake.jpeg" alt="Producto1">
            </div>
            <section class="producto">
                <div class="nombreProd">Cheesecake</div>
                <div class="nombreProd">Precio: $ 4.000</div>
                <div class="descripcionProd">
                    New york Chessecake, con base de masa quebrada de limón y crema saborizada a Maracujá. <br>
                    Opcional, topping de Crumble o Salsa de fruta de la pasión. 
                </div>
                <div class="boxbotonCompra">
                    <a href="/carrito"><button class="botonCompra">Sumar al carrito</button></a>
                </div>
            </section>
        </section>
        <section class="destacados">
            <h3 class="pdest">Otros productos</h3>
            <div class="imgprod">
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/Cheesecake.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div class="info-product">
                            <p class="name-product">Cheesecake</p>
                            <p class="price">Precio: $ 4.000</p>
                        </div>
                    </div>
                </article>
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/LemonPie.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div class="info-product">
                            <p class="name-product">Lemon pie</p>
                            <p class="price">Precio: $ 2.500</p>
                        </div>
                    </div>
                </article>
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/DevilsCake.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i></a>
                        <div class="info-product">
                            <p class="name-product">Devils cake</p>
                            <p class="price">Precio: $ 2.900</p>
                        </div>   
                    </div>
                </article>
                <article>
                    <figure>
                        <a href="/product"><img src="/images/Productos/TartaMango.jpeg"></a>
                    </figure>
                    <div class="descripciondest">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div class="info-product">
                            <div class="info-product">
                                <p class="name-product">Tarta de mango</p>
                                <p class="price">Precio: $ 2.500</p>
                            </div>
                        </div> 
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="seccion1">
            <div></div>
            <div class="productos">
                <h3>Pavlova</h3>
                <p>
                    <href="#">Sobre nosotros
                </p>
                <p>
                    <href="#">Trabaja con nosotros
                </p>
            </div>
            <div></div>
            <div class="encontranos">
                <h3>Encontranos</h3>
                <p>
                    <href="#"><i class="fa-solid fa-map-location"></i> Direccion X
                </p>
                <p>
                    <href="#"><i class="fa-brands fa-facebook"></i> PavlovaPasteleria
                </p>
                <p>
                    <href="#"><i class="fab fa-instagram"></i> PavlovaPasteleria
                </p>
            </div>
            <div></div>
            <div class="contactanos">
                <h3>Contactanos</h3>
                <p>
                    <href="mailto:pavlova@pavlova.com"><i class="fa-solid fa-envelope"></i> pavlova@pavlova.com</href=>
                </p>
                <p>
                    <href="tel:+9999999999"><i class="fa-solid fa-phone"></i> +99 9999 9999</href=>
                </p>
                <h3>Newsletter</h3>
                <div class="newsletter">
                    <input type="text" name="buscar" id="buscar" placeholder="mail@gmail.com" class="newsletter-mail">
                    <div class="suscribe"><i class="fa-solid fa-square-check"></i></div>
                </div>
            </div>
            <div></div>
            </div>
        </section>
    </footer>
</body>

</html>