<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Satisfy&display=swap" rel="stylesheet">     <title>Pavlova - Registro</title>
</head>
<body>
    <header>
        <section class="top-header">
            <figure class="logo">
                <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
            </figure>
            <div class="name">Pavlova</div>
            <div class="form" action="#" method="GET">
                <button type="submit"class="submit"><i class="fa fa-search"></i></button>
                <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="input">
            </div>
            <div class="iconos">            
                <a href="/login"><i class="fas fa-user-circle"></i></a> 
                <a href="/productCart"><i class="fas fa-shopping-bag"></i></a> 
            </div>
        </section>
       <section>
        <nav>
            <ul class="submenu">
            <li><href="#">Nosotros</li>
            <li><href="#">Pasteleria</li>
            <li><href="#">Masas</li>
            <li><href="#">Tortas</li>
            <li><href="#">Contacto</li>
            </ul>
        </nav>
        <div class="desplegable-menu">
            <i class="fa-solid fa-circle-chevron-down"></i>
        </div>
        </section>
    </header>

    <main>
        <div class="formulario-de-registro">      
            <div class="form-select">
                <div class="select2">
                <a href="/login">
                    <button class="form-button-singin" >Ingresar</button>
                </a>
                </div>
                <div class="select1">
                <a>
                <button class="form-button-singup">Crear Cuenta</button>
                </a>
                </div>
            </div>
            <form class="inputs" action="/register" method="POST">
                <div class="form-data">
                    <label for="nombre"> Nombre: </label>
                    <input type="text" name="nombre" id="nombre" required>
                </div>
                <div class="form-data">
                    <label for="apellido"> Apellido: </label>
                    <input type="text" name="apellido" id="apellido" required>
                </div>
                <div class="form-data">
                    <label> Email: </label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-data">
                    <label> Teléfono: </label>
                    <input type="number" name="Telefono" id="Telefono" required>
                </div>
                <div class="form-data">
                    <label for="direccion"> Dirección: </label>
                    <input type="text" name="direccion" id="direccion" required>
                </div>
                <div class="form-data">
                    <label for="ciudad"> Ciudad: </label>
                    <input type="text" name="ciudad" id="ciudad" required>
                </div>
                <div class="form-data">
                    <label> Contraseña: </label>
                    <input type="password" name="password" id="password" required> 
                </div>
                <div class="form-data">
                    <label> Repetir contraseña: </label>
                    <input type="password" name="repetir-password" id="repetir-password" required> 
                </div>
                <div class="form-data-register">
                    <input type="checkbox" name="terms"  value="terms"> Acepto terminos y condiciones.
                </div>
                <div class="form-data" id="form-data">
                    <button class="form-button-submit" type="submit" Enviar> Aceptar
                </div>            
            </form>
        </div>
    </main>

    <footer>
        <section class="seccion1">
            <div></div>
        <div class="productos">
            <h3 class="foot">Pavlova</h3>
            <p><href="#">Sobre nosotros</p>
            <p><href="#">Trabaja con nosotros</p>
        </div>  
        <div></div>
        <div class="encontranos">
            <h3 class="foot">Encontranos</h3>
            <p><href="#"><i class="fa-solid fa-map-location"></i> Direccion X</p>
            <p><href="#"><i class="fa-brands fa-facebook"></i>  PavlovaPasteleria</p>
            <p><href="#"><i class="fab fa-instagram"></i> PavlovaPasteleria</p>
        </div>
        <div></div>
        <div class="contactanos">
            <h3 class="foot">Contactanos</h3>
            <p><href="mailto:pavlova@pavlova.com"><i class="fa-solid fa-envelope"></i> pavlova@pavlova.com</href=></p>
            <p><href="tel:+9999999999"><i class="fa-solid fa-phone"></i> +99 9999 9999</href=></p>
            <h3 class="foot">Newsletter</h3>
            <div class="newsletter">
            <input type="email" name="newsletter" id="newsletter" placeholder="mail@gmail.com" class="newsletter-mail">
            <div class="suscribe"><i class="fa-solid fa-square-check"></i></div>
        </div>
        </div>
        <div></div>
        </div>
        </section>
       </footer>
</body>
</html>