main {
    width: 90%;
    padding: 30px 10px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.formulario-de-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    width: 100%;
    background-color: #FFF9EF;
    border: solid black 1px;
}

div.form-select{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.select1 {
    padding: 10px;
    width: 50%;
    text-align: center;
    justify-content: center;
}

div.select2 {
    display: flex;
    padding: 10px;
    background-color: #F0F9F4;
    width: 50%;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

.form-button-singin, .form-button-submit {
    padding: 6px 15px;
    font-size: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F9867;
    color: white;
    border: none;
}

.form-button-singup {
    color: #3F9867;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-right: 10px;
    padding: 6px 15px;
    font-weight: bold;
}

main form{
    padding: 10px 0px;
    width: 80%;
    min-width: 250px;
    
}
label{
    font-weight: bold;
}
.form-data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.form-data-register {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form-data-register input {
    margin-right: 5px;
}

form .form-data input{
    width: 100%;
    padding:5px 10px;
    border: 1px solid black;
    border-radius: 8px;
}


.recuperar-password {
    padding-top: 10px;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

@media (min-width: 768px){ 
    .inputs {
        display: flex;
        flex-wrap: wrap;    
    }

    .form-data {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .form-data-register {
        width: 100%;
    }

    #form-data  {
        width: 100%;

    }
    }
