*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    padding-bottom: 5px;
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
}

.top-header{
    background-color: #ffae6a;
    padding: 0.5%;
    display: flex;
    align-items: center;
    padding-left: 8px;
}


.top-header img{
    display: flex;
    align-items: center;
}

.logo img{
    width: 140px;
 }

div.name {
    display: none;
}

.form{
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

form .input{
    position: absolute;
    padding: 5px;
}

header .form .input{
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    width: 50px;
    background-color: #ffae6a;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: rgb(0, 0, 0);
    transition: all 0.6s ease;
}

header .form .input:hover{
    width: 100%;
}

header .form .submit{
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: none;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffae6a;
    border: none;
}

header .form input::placeholder{
    color: #000;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.iconos {
    display: flex;
    justify-content: center;
    flex-grow: 0.05;
}

.iconos a {
    font-size: 24px;
    padding: 8px;
    color: rgb(0, 0, 0);
   }

nav {
    display: none;
}

.carrusel {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.carrusel img {
    min-width: 280px;
    width: 70%;
    max-width: 1000px;
}


h2 {
    text-align: center;
    padding: 8px 0px;
}

p.texto {
    text-align: justify;
    padding: 0 7.5% 20px 7.5%;
}

div.desplegable-menu{
    text-align: center;
    margin: auto;
    padding: 5px 0px 20px 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
}

div.desplegable-menu i{
    background-color: #ca7026;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
}

.imgprod{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

main section h3{
    margin: 10px 10px;
    text-align: center;
    background-color: #FFE6E3;
    margin-bottom: 12px;
}

main section article{
    width: 80%;
    padding: 10px;
    margin: 4px 10px;
}

main section article figure{
    display: flex;
    justify-content: center;
}

main section article img{
    width: 70%;
    min-width: 120px;
}

article div.descripciondest{
    width: 100%;
    border-top: 1px solid #FA7F72;
    padding-top: 5px;
    position: relative;
    display: block;
    flex-direction:column;
    justify-content:center;
}

article div.descripciondest i{
    font-size: 24px;
    text-align: center;
    background-color: #FFF;
    width: 45px;
    height: 45px;
    padding: 7px;
    border: 1px solid #FA7F72;
    margin-bottom: 5px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    right: 10px;
    transition: all 600ms;
}

article div.descripciondest i:hover{
    transform: rotate(-360deg);
    color: #FF6A6D;
}

.info-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #ffae6a;
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer .input {
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    width: 60%;
    background-color: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: rgb(0, 0, 0);
}

footer .seccion1 {
    display: block
}

.seccion1 .productos {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding-top: 15px;
}

.seccion1 .encontranos {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding-top: 15px;
}

.seccion1 .contactanos {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding-top: 15px;
}

.newsletter {
    display: flex;
}

.newsletter-mail{
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    text-align: left;
    color: #000;
    width: 130px;
    display: flex;
    background-color: #ffae6a;
    border: none;
    border-bottom: 1px solid #000;
}

.newsletter-mail::placeholder{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    
}
.suscribe {
    font-size: 25px;
    align-items: flex-end;
    display: flex;
    padding: 0 0 2px 3px;
}

h3.foot {
    text-align: left;
}


@media (min-width: 480px){
    
    div.name {
    display: block;
    position: absolute;
    font-size: 36px;
    left: 140px;
    font-family: Satisfy;
    }

    main section article{
    box-shadow: none;
    transition: all 1s;
    }
    
    main section article:hover{
    box-shadow: 0px 0px 10px #FF8B7F;
    }
    
    main section div.imgprod{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center
        }
        
    main section div.imgprod article{
        width: 45%;
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0;
    }

    footer .seccion1 {
        display: flex;
        margin-top: 8px;
        justify-content: space-around;
        width: 100%;
    }

    header .form .input{
        display: inline-block;
        font-size: 14px;
        padding: 2px;
        margin-bottom: 2px;
        width: 100px;
        background-color: none;
        border-bottom: 1px solid #000;
        outline: none;
        color: rgb(0, 0, 0);
        transition: all 0.6s ease;
    }
    
    header .form .input:hover{
        width: 100%;
    }

}

@media (min-width: 768px){
    nav {
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px 0 2px 0;
        font-size: 16px;
    }
    
    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 65%;
    }
    
    nav ul li{
        padding: 0 10px;
        position: relative;
        font-weight: bold;
    }
    
    nav ul.submenu li::before{
        content: "";
        height: 3px;
        width: 0%;
        background:rgb(228, 150, 7);
        left: 0;
        bottom: -4px;
        transition: 0.4s ease-out;
        display: inline-block;
        position: absolute;
    }
    
    nav ul li:hover::before{
        width: 100%;
    }
    
    nav ul li a{
        text-decoration: none;
        color: black;
    }

    div.desplegable-menu{
        display: none;
    }

    main section div.imgprod article{
        width: 22%;
    }

    article div.descripciondest i{
        font-size: 20px;
        width: 38px;
        height: 38px;
        right: 5px;
    }

    .seccion1 .productos {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        margin-left: 10%;
        padding-top: 15px;
    }
    
    .seccion1 .encontranos {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        padding-top: 15px;
    }
    
    .seccion1 .contactanos {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        margin-right: 10%;
        padding-top: 15px;
    }

}
