*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 20px 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FCF7F0;
}

body, html {
    height: 100%;
}

header{
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
} 

.top-header{
    background-color: #cc6e67;
    padding: 0.5%;
    display: flex;
    align-items: center;
    padding-left: 8px;
}


.top-header img{
    display: flex;
    align-items: center;
}

.logo img{
    width: 60%;
    min-width: 100px;
    max-width: 120px;
 }

div.name {
    display: none;
}

.form{
    width: 100%;
    max-width: 120px;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

form .input{
    position: relative;
    padding: 5px;
}

header .form .input{
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    width: 80px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: rgb(0, 0, 0);
    transition: all 0.6s ease;
}

header .form .input:hover{
    width: 100%;
}

header .form .submit{
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: transparent;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

header .form input::placeholder{
    color: #000;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos .no-vis{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos a {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.iconos a img{
    width: 30px;
    height: 30px;
}

.iconos i {
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
   }

nav {
    display: none;
}

.carrusel {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.carrusel img {
    min-width: 280px;
    width: 70%;
    max-width: 1000px;
}


h2 {
    text-align: center;
    padding: 8px 0px;
}


p.texto {
    text-align: justify;
    padding: 10px 7.5% 20px 7.5%;
}

div.desplegable-menu{
    text-align: center;
    margin: auto;
    padding: 5px 0px 20px 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80%;
    bottom: 0;
    right: 0;
    left: 0;
}

div.desplegable-menu i{
    background-color: #ac5353;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
}

.imgprod figure{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.botton-no-format{
outline: none;
background: none;
cursor: pointer;
padding: 10px 30px;
text-decoration: none;
font-family: inherit;
font-size: inherit;
width: 100%;
}

.edit-delete button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article form.delete-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

/* article.list-edit{
    border: solid 1px #FA7F72;
} */

.edit-delete{
    display: flex;
    justify-content: space-around;
}

main section h3{
    margin: 10px 0px;
    text-align: center;
    background-color: #ffe6e3;
    margin-bottom: 12px;
}

main section article{
    width: 100%;
    padding: 0 5px;
    margin-bottom: 40px;
}

main section article figure a {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

main section article img{
    width: 100%;
    min-width: 120px;
    height: 200px;
    object-fit: contain;
}

article div.descripciondest{
    width: 100%;
    border-top: 1px solid #FA7F72;
    padding-top: 5px;
    position: relative;
    display: block;
    flex-direction:column;
    justify-content:center;
}

article div.descripciondest i{
    font-size: 24px;
    text-align: center;
    background-color: #FFF;
    width: 45px;
    height: 45px;
    padding: 7px;
    border: 1px solid #FA7F72;
    margin-bottom: 5px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    right: 10px;
    transition: all 600ms;
}

article div.descripciondest i:hover{
    transform: rotate(-360deg);
    color: #FF6A6D;
}

.info-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE6E3;
}

.name-product{
    font-size: 18px;
}

#discoun{
    text-decoration-line:line-through;
}

footer{
    background-color: #cc6e67;
    display: flex;
    padding: 20px;
    position: sticky;
    top: 100vh; 
    margin-top: 10px;
}

footer .input {
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    width: 60%;
    background-color: transparent;
    border-bottom: 1px solid #000;
    outline: none;
    color: rgb(0, 0, 0);
}

footer .seccion1 {
    display: block
}

.seccion1 .productos {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding-top: 15px;
}

.seccion1 .encontranos {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding-top: 15px;
}

.seccion1 .contactanos {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding-top: 15px;
}

.newsletter {
    display: flex;
}

.newsletter-mail{
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    text-align: left;
    color: #000;
    width: 130px;
    display: flex;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.newsletter-mail::placeholder{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    
}
.suscribe {
    font-size: 25px;
    align-items: flex-end;
    display: flex;
    padding: 0 0 2px 3px;
}

h3.foot {
    text-align: left;
}

@media (min-width: 480px){
    
    div.name {
    display: block;
    position: absolute;
    font-size: 36px;
    left: 140px;
    font-family: Satisfy;
    }

    main section div article{
    box-shadow: none;
    transition: all 1s;
    }
    
    main section div article:hover{
    box-shadow: 0px 0px 10px #FF8B7F;
    }
    
    main section div.imgprod{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center
        }
        
    main section div.imgprod article{
        width: 45%;
    }

    footer .seccion1 {
        display: flex;
        margin-top: 8px;
        justify-content: space-around;
        width: 100%;
    }

    header .form .input{
        display: inline-block;
        font-size: 14px;
        padding: 2px;
        margin-bottom: 2px;
        width: 130px;
        max-width: 130px;
        background-color: transparent;
        border-bottom: 1px solid #000;
        outline: none;
        color: rgb(0, 0, 0);
        transition: all 0.6s ease;
    }
    
}

@media (max-width: 768px){

    .form{
        width: 100%;
        max-width: 150px;
        display: flex;
        justify-content: right;
        margin-left: auto;
    }
    
}

@media (min-width: 768px){
    nav {
        background-color: #e1cfbc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px 0 4px 0;
        font-size: 16px;
    }

    .iconos .no-vis i {
        display: none;
       }

    .iconos i .car-comp {
        display: block;
       }
    
    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 65%;
    }
    
    nav ul li{
        padding: 0 10px;
        position: relative;
        font-weight: bold;
    }
    
    /* nav ul.submenu li::after{
        content: "";
        height: 3px;
        width: 0;
        background: #cc6e67;
        transition: width .4s ease-out;
        display: block;
    }

    nav ul li:hover::after{
        width: 100%;
    }
     */
    nav ul li a{
        text-decoration: none;
        color: black;
    }


   .nav_bottom-active::after {
        content: "";
        height: 3px;
        width: 0;
        background: #cc6e67;
        display: block;
        width: 100%;
    }

    .nav_bottom-ntactive::after {
        content: "";
        height: 3px;
        width: 0;
        background: #cc6e67;
        transition: width .4s ease-out;
        display: block;
    }


    .nav_bottom-ntactive:hover::after {
        width: 100%;
    }
    


    div.desplegable-menu{
        display: none;
    }

    main section div.imgprod article{
        width: 22%;
    }

    article div.descripciondest i{
        font-size: 20px;
        width: 38px;
        height: 38px;
        right: 5px;
    }

    .seccion1 .productos {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        margin-left: 10%;
        padding-top: 15px;
    }
    
    .seccion1 .encontranos {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        padding-top: 15px;
    }
    
    .seccion1 .contactanos {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        margin-right: 10%;
        padding-top: 15px;
    }

}

/* Login StyleSheet */
.login-main {
    padding: 30px 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login-main h2 {
    font-size: 20px;
    font-weight:bolder;
}

.formulario-de-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    width: 80%;
    border: solid black 1px;
    background-image: url('../images/fondoForm1.jpeg');
    max-width: 800px;
    background-repeat: no-repeat;
    background-position: bottom;
}

div.form-select-login{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.select1-login {
    padding: 10px;
    width: 50%;
    text-align: center;
    justify-content: center;
}

div.select2-login {
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    font-weight: bold;
}

div.select2-login :hover {
    color: #FF6A6D;
    ;
}

.form-button-singup-login, .form-button-submit-login {
    padding: 5px 18px;
    font-size: 18px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1cfbc;
    color: black;
    border: none;
}

.form-button-singin-login {
    color: #94c36b;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-right: 10px;
    padding: 6px 15px;
    font-weight: bold;
}

main form.login{
    padding: 10px 0px;
    width: 80%;
    min-width: 250px;
}

label.login{
    font-weight: bold;
}

.form-data-login {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

form .form-data-login input{
    width: 100%;
    padding:5px 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.recuperar-password-login {
    padding: 10px 0 0px;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.recuperar-password-login :hover {
    color: #FF6A6D;
}

@media (min-width: 480px){ 
    .formulario-de-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        flex-direction: column;
        width: 90%;
    }

    main form.login {
        width: 80%;
    }
}
 
@media (min-width: 768px){ 
    .formulario-de-login {
        width: 50%;
    }

    main form.login {
        width: 70%;
    }
}


/* Register StyleSheet */
main.main-register {
    width: 90%;
    padding: 30px 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.main-register h2 {
    font-size: 20px;
    font-weight:bolder;
}

.formulario-de-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    width: 100%;
    background-color: #FFF9EF;
    border: solid black 1px;
    max-width: 800px;
    background-image: url('../images/fondoForm1.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;

}

div.form-select{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.select1 {
    padding: 10px;
    width: 50%;
    text-align: center;
    justify-content: center;
}

div.select2 {
    display: flex;
    padding: 10px;
    background-color: #F0F9F4;
    width: 50%;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

.form-button {
    padding: 5px 18px;
    font-size: 18px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1cfbc;
    color: black;
    border: none;
}

.form-button-singup {
    color: #94c36b;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-right: 10px;
    padding: 6px 15px;
    font-weight: bold;
}

.login-main main form{
    padding: 10px 0px;
    width: 80%;
    min-width: 250px;
}

label{
    font-weight: bold;
}

.form-data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    max-width: 500px;
}

.form-data-register {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form-data-register input {
    margin-right: 5px;
}

form .form-data input{
    width: 100%;
    padding:5px 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.recuperar-password {
    padding-top: 10px;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

} 
  .errorValidacion p{
    color: #dc3545;
    font-size: 1.6rem;
  }

@media (min-width: 768px){ 
    .inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-data {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .form-data-register {
        width: 100%;
    }

    #form-data  {
        width: 100%;

    }
}

/* Product Details StyleSheet */
.titulo {
    font-weight: bold;
    margin: 0 10%;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
}

.p-details-cake {
    margin: 50px 0px;
}

.p-details-cakes {
    margin: 50px 0px;
}

section.producto-pDetail {
    width: 100%;
}

.imgProduct-pDetail{
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: center ;
}

.imgProduct-pDetail img{
    min-width: 280px;
    max-width:  50%;
}

.cajaProd-pDetail{
    display:flex;
    flex-direction: column;
    margin: 0 10%;
    gap: 10px;
    align-items: center;
}

body main section.producto-pDetail{
    border:solid 3px #e27072ce;;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    max-width: 450px;
}

.nombreProd-pDetail{
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 10px 10px; 
    height: 40px;
    
}

.product-detail-price{
    font-size: 28px;
    font-weight: bold;
}

p.product-detail-price-list{
    font-size: 18px;
    font-weight: bold;
}

.product-detail-price b{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px; 
}

.discount {
    font-size: 1.8em;
    color: var(--green);
    display: flex;
  }
  
.discount span {
    text-decoration: line-through;
    font-size: 18px;
  }

div.boxbotonCompra-pDetail {
    display: flex;
    justify-content: center;
    margin: 0 10px 20px;
 }

.botonCompra-pDetail{
    background-color:#94c36b;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border: none;
}

.descripcionProd-pDetail{
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px; 
    text-align: justify;
}

.otrasImg{
    width: 100px ;
}

@media (min-width: 768px){
    .cajaProd-pDetail{
        flex-direction: row;
        margin: 0 10%;
        gap: 10px;
    }

    .imgProduct-pDetail{
        max-width: 50%;
    }

    .cajaProd-pDetail{
        height: 370px;
    }
}

/* ProductCart StyleSheet */

main.productCart {
    display: flex;
    justify-content: center;
    margin: 15px;
}

main.resumen-compras {
    display: flex;
    justify-content: center;
    margin: 15px;
}

section.carro {
    width: 80%;
    padding-left: 4px;
    border: solid 8px #cc6e67;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-compras {
    width: 100%;
    margin-right: 4px;
}

.total-productCart {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.articulos-productCart {
    margin: 10px 0 30px 0;
}

.cupon-productCart {
    margin: 10px 0;
    display: flex;
    flex-direction: c;
}

.menu-carro {
    display: flex;
    gap: 8px;
    background-color: #cc6e67;
    justify-content: space-between;
    padding: 5px;
}

.menu-carro p.p1{
    display: flex;
    min-width: 120px;
    max-width: 120px;
    align-self: center;
}

.menu-carro p.p2{
    display: none;
    align-self: center;
    min-width: 50px;
    max-width: 50px;
}

.menu-carro p.p2C{
    min-width: 50px;
    align-self: center;
}

.menu-carro p.p3{
    display: none;
    align-self: center;
}

.menu-carro p.p4{
    width: 2%;
    align-self: center;
}

.productos-carro {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    font-size: 14px;
    padding: 3px 0;
}

.productos-carro p.p1{
    display: flex;
    min-width: 120px;
    max-width: 120px;
    align-self: center;
}

.productos-carro p.p2{
    display: none;
    align-self: center;
    min-width: 50px;
    max-width: 50px;
}

.productos-carro p.p3{
    display: none;
    align-self: center;
}

.productos-carro input{
    text-align: center;
    border: none;
    width: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    align-self: center;
}

.productos-carro form{
    align-self: center;
}

.productos-carro i{
    width: 2%;
    text-align: center;
    align-self: center;
    margin-right: 5px;
    min-width: 8px;
}

.menu-carro i{
    width: 2%;
    text-align: center;
    align-self: center;
    margin-right: 5px;
    
}

.productos-carro i:hover{
    color: #FF6A6D;
}

.form-cupon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
}

.form-cupon input {
    padding: 5px;
    font-size: 16px;
    margin: 0;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: white;
    width: 175px;
}

.opc-menu {
    display: none;
}

.form-button-descuento {
    background-color:#e1cfbc;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    border: none;
}

.form-button-carro {
    background-color:#e1cfbc;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    width: 175px;
    height: 30px;
    border: none;
    margin: 2px 0px;
}

.text-comprar {
    margin: 1px;
    margin-top: 5px;
    font-size: 14px;
    max-width: 100%;
    padding: 3px;
}

.compra-total {
    display: flex;
    gap: 8px;
    border: solid 1px black;
    margin: 1px;
    font-size: 14px;
    width: 175px;
    padding: 3px;
    justify-content: space-between;
}

.compra-importe {
    text-align: right;
}

@media (min-width: 480px){
    .cupon-productCart {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
    }

    .form-cupon {
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        margin-bottom: 0;
        align-items: center;
    }

    .menu-carro p.p3{
        display: block;
        min-width: 58px;
        text-align: center;
    }

    .productos-carro p.p3{
        display: block;
        min-width: 58px;
        text-align: center;
    }

    .text-comprar, .compra-total{
        padding: 3px;
    }
    
}

@media (min-width: 768px){
    section.carro {
        flex-direction: row;
        justify-content: space-between;
    }

    .opc-menu {
        display: flex;
        align-items: center;
        margin-right: 4px;
    }

    .contenedor-compras {
        width: 90%;
        margin-right: 4px;
    }

    .total-productCart {
        width: 170px;
    }

    .text-comprar {
        margin: 1px;
        margin-top: 5px;
        border: solid 1px black;
        font-size: 14px;
        padding: 3px;
    }
    
    .compra-total {
        display: flex;
        gap: 8px;
        width: auto;
        padding: 3px;
    }

    .form-button-carro {
        width: 100%;
        height: 30px;
        margin-top: 5px;
    }

}

/* Create and Edit StyleSheet */
.create_edit-main {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.create_edit-main h2 {
    font-size: 20px;
    font-weight:bolder;
}

.formulario-de-create_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    width: 100%;
    border: solid black 1px;
    max-width: 800px;
    background-image: url('../images/fondoForm1.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
}

div.form-select-create_edit{
    width: 100%;
    height: 60px;
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.select1-create {
    padding: 10px;
    width: 50%;
    text-align: center;
    justify-content: center;
}

div.select2-create {
    display: flex;
    padding: 10px;
    background-color: #F0F9F4;
    width: 50%;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}

div.select2-edit {
    display: flex;
    padding: 10px;
    background-color: #F0F9F4;
    width: 50%;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}


.form-button-singup-create_edit, .form-button-submit-create_edit {
    padding: 6px 15px;
    font-size: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #94c36b;
    color: white;
    border: none;
}

.form-button-singin-create_edit {
    color: #94c36b;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-right: 10px;
    padding: 6px 15px;
    font-weight: bold;
}

.form-button-submit-create_edit{
    margin: 8px 0px;
}

main form.create_edit{
    padding: 10px 0px;
    width: 80%;
    min-width: 250px;
    
}
label.create_edit{
    font-weight: bold;
}
.form-data-create_edit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

form .form-data-create_edit input,
form .form-data-create_edit textarea,
form .form-data-create_edit select{
    width: 100%;
    padding:5px 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.form-data-buttons {
    display: flex;
    justify-content: space-around;
}

.form-error{
    color: rgb(175, 31, 31);
    font-weight: bold;
    font-size: 14px
    ;
}

@media (min-width: 480px){ 
    .formulario-de-create_edit {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        flex-direction: column;
        width: 90%;
    }

    main form.create_edit {
        width: 80%;
    }
}
 
@media (min-width: 768px){ 
    .formulario-de-create_edit {
        width: 70%;
    }

    main form.create_edit {
        width: 70%;
    }

    .menu-carro p.p2{
        display: block;
        min-width: 50px;
        text-align: center;
    }
    
    .menu-carro p.p2C{
        display: block;
        min-width: 50px;
        text-align: center;
    }

    .productos-carro p.p2{
        display: block;
    }
}
.profile {
    display: flex;
    justify-content: center;    
    flex-direction: column;
    margin: 10px;
    border: solid black 1px;
    background-image: url('../images/frutosRojos.jpeg');
    width: 80%;
    max-width: 500px;
}

.welcome-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.welcome-profile figure {
    display: flex;
    justify-content: center;
}

.welcome-profile img{
    max-width: 80px;
    border-radius: 50%;
}

.detail-user {
    text-align: center;
}

.info-user {
    margin-bottom: 10px;
    margin-top: 10px;
}

.iconos img {
    width: 18px;
    border-radius: 50%;
}

.prof_buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.prof_button{
    text-align: center;
    padding: 10px;
}

