<article>
    <figure>
        <a href="/products/productDetails/<%= product.id %>"><img src="/images/Productos/<%= product.image %> "></a>
    </figure>
        <div class="descripciondest">
            <i class="fa-solid fa-basket-shopping"></i>
                <div class="info-product">
                    <p class="name-product"><%= product.name %></p>
                    <p class="price">Precio: $ <%= product.price %> </p>
                </div>
        </div>
</article>
