<footer>
    <section class="seccion1">
        <div></div>
    <div class="productos">
        <h3 class="foot">Pavlova</h3>
        <p><href="#">Sobre nosotros</p>
        <p><href="#">Trabaja con nosotros</p>
    </div>  
    <div></div>
    <div class="encontranos">
        <h3 class="foot">Encontranos</h3>
        <p><href="#"><i class="fa-solid fa-map-location"></i> Direccion X</p>
        <p><href="#"><i class="fa-brands fa-facebook"></i>  PavlovaPasteleria</p>
        <p><href="#"><i class="fab fa-instagram"></i> PavlovaPasteleria</p>
    </div>
    <div></div>
    <div class="contactanos">
        <h3 class="foot">Contactanos</h3>
        <p><href="mailto:pavlova@pavlova.com"><i class="fa-solid fa-envelope"></i> pavlova@pavlova.com</href=></p>
        <p><href="tel:+9999999999"><i class="fa-solid fa-phone"></i> +99 9999 9999</href=></p>
        <h3 class="foot">Newsletter</h3>
        <div class="newsletter">
        <input type="email" name="newsletter" id="newsletter" placeholder="mail@gmail.com" class="newsletter-mail">
        <div class="suscribe"><i class="fa-solid fa-square-check"></i></div>
    </div>
    </div>
    <div></div>
    </div>
    </section>
   </footer>