<header>
    <section class="top-header">
        <figure class="logo">
            <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
        </figure>
        <div class="name">Pavlova</div>
        <div class="form" action="#" method="GET">
            <button type="submit"class="submit"><i class="fa fa-search"></i></button>
            <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="input">
        </div>
        <div class="iconos">            
            <a href="/users/login"><i class="fas fa-user-circle"></i></a> 
            <a href="/products/productCart"><i class="fas fa-shopping-bag"></i></a> 
        </div>
    </section>
   <section>
    <nav>
        <ul class="submenu">
        <li><a href="/">Nosotros</li></a>
        <li><a href="/products">Pasteleria</li></a>
        <li><a href="/products">Masas</li></a>
        <li><a href="/products">Tortas</li></a>
        <li><a href="/products/create">Crear Producto</li></a>
        <li><a href="/products/edit">Editar Producto</li></a>
        </ul>
    </nav>
    <div class="desplegable-menu">
        <i class="fa-solid fa-circle-chevron-down"></i>
    </div>
    </section>
</header>