<header>
  <section class="top-header">
    <figure class="logo">
      <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
    </figure>
    <div class="name">Pavlova</div>
    <form class="form" method="GET" action="/products/buscar">
      <button type="submit" class="submit">
        <i class="fa fa-search"></i>
      </button>
      <input type="text" name="search" class="input" placeholder="Buscar">
    </form>
    <div class="iconos">
      <div class="no-vis">
        <% if (!locals.isLogged) { %>
        <a href="/users/register">
          <p class="opc-menu">Creá tu cuenta </p><i class="far fa-address-card"></i>
        </a>
        <a href="/users/login">
          <p class="opc-menu">Ingresá </p><i class="fas fa-user-circle"></i>
        </a>
        <% } else { %>
        <a href="/users/profile/<%= locals.userLogged.user.id %>">
          <p class="opc-menu"></p><img src="/images/avatars/<%=  locals.userLogged.avatar.fileName %>  %>" alt="img-perfil"></i>
        </a>
        <a href="/users/logout">
          <p class="opc-menu">Cerrar Sesión </p><i class="fas fa-sign-out-alt"></i>
        </a>
        <% } %>
      </div>
      <div class="car-comp">
        <a href="/products/productCart"><i class="fas fa-shopping-bag"></i></a>
      </div>
    </div>
  </section>
  <section>
    <nav>


        <ul class="submenu">
            <% if(typeof(page_name) == "undefined") { page_name="" }%>

            <li><a <% if (page_name === 'index' ){ %> class="nav_bottom-active" <% } else { %>class="nav_bottom-ntactive" <% } %> href="/"> Nosotros </li></a>
            <li><a <% if (page_name === "pasteleria"){ %> class="nav_bottom-active" <% } else { %>class="nav_bottom-ntactive" <% } %> href="/products/pasteleria">Pasteleria</li></a>
            <li><a <% if (page_name === "masas"){ %> class="nav_bottom-active" <% } else { %>class="nav_bottom-ntactive" <% } %> href="/products/masas">Masas</li></a>
            <li><a <% if (page_name === "tortas"){ %> class="nav_bottom-active" <% } else { %>class="nav_bottom-ntactive" <% } %> href="/products/tortas">Tortas</li></a>
            <% if (locals.isLogged && locals.userLogged.user.roleId == 1) { %>
                <li><a <% if (page_name === 'edit' ){ %> class="nav_bottom-active" <% } else { %>class="nav_bottom-ntactive" <% } %> href="/products/productedit">Editar</li></a>
                <li><a <% if (page_name === 'create' ){ %> class="nav_bottom-active" <% } else { %>class="nav_bottom-ntactive" <% } %> href="/products/create">Crear</li></a>
            <% } %>
        </ul>
    </nav>
    <div class="desplegable-menu">
        <i class="fa-solid fa-circle-chevron-down"></i>
    </div>
    </section>
</header>