<header>
    <section class="top-header">
        <figure class="logo">
            <a href="/"><img src="/images/PavlovaColor.png" alt="Logo de Pavlova"></a>
        </figure>
        <div class="name">Pavlova</div>
        <div class="form" action="#" method="GET">
            <button type="submit"class="submit"><i class="fa fa-search"></i></button>
            <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="input">
        </div>
        <div class="iconos">
            <div class="no-vis">
            <% if (!locals.estaLogueado) { %>
                <a href="/users/register"><p class="opc-menu">Creá tu cuenta </p><i class="far fa-address-card"></i></a>
                <a href="/users/login"><p class="opc-menu">Ingresá </p><i class="fas fa-user-circle"></i></a>
            <% } else { %>
                <a href="/users/login"><p class="opc-menu"></p><img src="/images/avatars/<%= locals.usuarioLogueado.image %>" alt="img-perfil"></i></a>
                <a href="/users/logout"><p class="opc-menu">Cerrar Sesión </p><i class="fas fa-sign-out-alt"></i></a>
            <% } %>
            </div>
                <div class="car-comp">
                <a href="/products/productCart"><i class="fas fa-shopping-bag"></i></a>
                </div>
        </div>
    </section>
   <section>
    <nav>
        <ul class="submenu">
        <li><a href="/">Nosotros</li></a>
        <li><a href="/products/pasteleria">Pasteleria</li></a>
        <li><a href="/products/masas">Masas</li></a>
        <li><a href="/products/tortas">Tortas</li></a>
        <% if (locals.estaLogueado) { %>
        <li><a href="/products/create">Crear</li></a>
        <li><a href="/products/productedit">Editar</li></a>
        <% } %>
        </ul>
    </nav>
    <div class="desplegable-menu">
        <i class="fa-solid fa-circle-chevron-down"></i>
    </div>
    </section>
</header>