<section class="destacados">
    <h3 class="pdest">Otros productos</h3>
    <div class="imgprod">
        <article>
            <figure>
                <a href="/products/productDetails"><img src="/images/Productos/Cheesecake.jpeg"></a>
            </figure>
            <div class="descripciondest">
                <i class="fa-solid fa-basket-shopping"></i>
                <div class="info-product">
                    <p class="name-product">Cheesecake</p>
                    <p class="price">Precio: $ 4.000</p>
                </div>
            </div>
        </article>
        <article>
            <figure>
                <a href="/products/productDetails"><img src="/images/Productos/LemonPie.jpeg"></a>
            </figure>
            <div class="descripciondest">
                <i class="fa-solid fa-basket-shopping"></i>
                <div class="info-product">
                    <p class="name-product">Lemon pie</p>
                    <p class="price">Precio: $ 2.500</p>
                </div>
            </div>
        </article>
        <article>
            <figure>
                <a href="/products/productDetails"><img src="/images/Productos/DevilsCake.jpeg"></a>
            </figure>
            <div class="descripciondest">
                <i class="fa-solid fa-basket-shopping"></i></a>
                <div class="info-product">
                    <p class="name-product">Devils cake</p>
                    <p class="price">Precio: $ 2.900</p>
                </div>   
            </div>
        </article>
        <article>
            <figure>
                <a href="/products/productDetails"><img src="/images/Productos/TartaMango.jpeg"></a>
            </figure>
            <div class="descripciondest">
                <i class="fa-solid fa-basket-shopping"></i>
                <div class="info-product">
                    <div class="info-product">
                        <p class="name-product">Tarta de mango</p>
                        <p class="price">Precio: $ 2.500</p>
                    </div>
                </div> 
            </div>
        </article>
    </div>
</section>